<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
	<add key="WorkstationSet" value="DH"/>
	<add key="Database" value="CityEduManage"/>		<!--CityEduManage-SchoolManage-->
	<add key="DatabaseServer" value="\MSDEDH"/>			<!--DH-(local)-->
	<add key="DatabaseUser" value="sa"/>
	<add key="DatabasePassword" value="dhsa."/>		<!--dhsa.-->
	<add key="DatabaseBackup" value="D:"/>
	<add key="UploadDataLink" value="http://127.0.0.1/CityManageWebService/ReceiveService.asmx"/>
 </appSettings>
 </configuration>