create database stumanage
go
use stumanage
go
create table stuinfo( --建立表
	stu_id nchar(10)PRIMARY KEY,
	stu_name nchar(10)not null,
	sex nchar(10)check(sex in('男','女')),--约束检测
	ages int,
	classes nchar(20),
	bimage bit,
	images image  
)
insert into stuinfo values('1','张1','男','21','软件班061',null,null)
insert into stuinfo values('3','张3','男','23','软件班061',null,null)
